
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px ">



      <div fxFlex="20%" *ngFor="let c of categories" class="category">
        <div class="wrapper">
          <div class="cols">
            <div class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                  <div class="inner">
                    <p>{{c.nameCategory}}</p>
                  </div>
                </div>
                <div class="back">

                    <mat-icon mat-icon-button color="warn" id="btn1">delete_outline</mat-icon>

                  <div class="inner">
                    <button type="button" routerLink="/listApisByCategory/{{c.idCategory}}" class="btn btn-warning">APIs</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
